<input type="button" id="addStaffButton" value="Add Staff" routerLink = "/form/create/{{staffType}}">
<table>

    <tr>
        
        <th *ngFor = "let heading of headers">{{heading}}</th>
        <th>Delete</th>
        
    </tr>

    <tr *ngFor = "let staff of lstStaff" routerLink = "/form/update/{{staffType}}" (click) = "collectData(staff)" >
        
        <td>{{staff.Name}}</td>
        <td>{{staff.Address.HouseName}},{{staff.Address.City}},{{staff.Address.State}},{{staff.Address.Pin}}</td>
        <td>{{staff.PhoneNumber}}</td>
        <td>{{staff.Salary}}</td>
        <td *ngIf = "staffType == 1">{{staff.Subject}}</td>
        <td *ngIf = "staffType == 1">{{staff.AssignedClass}}</td>
        <td *ngIf = "staffType != 1">{{staff.Post}}</td>
        <td><input type="button" value="Delete" id = "delButton" (click) = "delete()"></td>
        
    </tr>

</table>


